body{
	background-image: url(../images/patches7.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.header {
	overflow: hidden;
	background-color: transparent;
	padding: 20px 10px;
}
.header a {
	font-family: 'Gloria Hallelujah', cursive;
	float: left;
	color: #fff;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}
.header img {
	position: absolute;
}
.header-right {
	float: right;
}
iframe {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
#about {
	font-family: 'Gloria Hallelujah', cursive;
	color: #fff;
	text-align: center;
	margin-right: 25%;
	margin-left: 25%;
}